.admin-container {
    position: relative;
    padding: 35px;
    width: 1250px;
    background: rgba(168, 168, 168, 0.5);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.5);
    min-height: 500px;
    border-radius: 25px;
  }
  
  .admin-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
  .admin-total-registrations {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
  }
  
  .admin-input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  .admin-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6b006e;
  }
  
  .admin-search-results {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    color: white;
  }
  
  .admin-result-item {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
  }
  
  .admin-logout-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .admin-table{
    width: 100%;
    text-align: center;
  }
  
  .admin-table thead{
    background-color: #6b006e ;
    color: white;
  }
  .admin-table th{
    padding: 10px 5px;
  }
  .admin-table tbody{
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  .admin-table tr{
    color: black;
  }
  .admin-table th{
    color: white;
  }
  .admin-table td{
    padding: 5px;
  }
  .admin-table-container {
    height: auto; 
    max-height: 350px; 
    overflow-y: auto;
    border-radius: 20px;
  }