/* Sidebar.css */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #31002c;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
  }
  
  .sidebar ul li a,
  .sidebar ul li button {
    text-decoration: none;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: left;
    transition: background 0.3s ease;
  }
  
  .sidebar ul li a:hover,
  .sidebar ul li button:hover {
    background: #522e4d;
  }
  
  .sidebar .logout-button {
    margin-top: auto;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 15px;
    border-top: 1px solid #522e4d;
  }
  